.places__paragraph {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
}

.places__paragraph:last-of-type {
    margin-bottom: 0;
}

@media all and (max-width: 767px) {
    .places__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}
