.header__lang-link {
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 46px 0 0 0;
    padding: 0;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .header__lang-link {
        margin-top: 30px;
        font-size: 18px;
        line-height: 20px;
    }
} 