.page {
    background-color: #2A2C2F;
    padding: 0 48px 24px 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    max-width: 1280px;
    min-width: 320px;
    overflow-x: hidden;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .page {
        padding-left: 16px;
        padding-right: 16px;
    }
} 

@media all and (min-width: 768px) and (max-width: 1023px) {
    .page {
        padding-left: 24px;
        padding-right: 24px;
    }
} 