.intro__list {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    width: 690px;
    height: 90px;
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

@media all and (max-width: 767px) {
    .intro__list {
        max-width: calc(100% - 32px);
    }
} 