.places__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .places__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
    }
} 

@media all and (min-width: 768px) and (max-width: 1023px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
    }
} 
