.cover__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Inter', 'Arial', sans-serif;
    width: 360px;
    min-height: 66px;
    margin: 0 auto 0 auto;
    padding: 0;
    z-index: 11;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        min-height: 48px;
    }
} 