.header__logo {
    margin: 28px 0 0 0;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .header__logo {
        margin-top: 16px;
        width: 142px;
        height: 42px;
    }
} 