.lead__subtitle {
    margin: 32px 0 56px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    align-self: center;
    width: 640px;
    height: 72px;
    text-align: center;
    flex-wrap: wrap;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        width: 288px;
        height: 40px;
        margin: 16px 0 40px 0;
    }
} 

@media all and (min-width: 1280px) {
    .lead__subtitle {
        margin-bottom: 64px;
    }
} 