.footer__navigation {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 18px;
}
@media all and (min-width: 320px) and (max-width: 767px) {
    .footer__navigation {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: repeat (5, 1fr);
        gap: 32px;
        margin-bottom: 48px;
    }
}