.places__url-heading {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 12px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 0 0 12px 0;
    letter-spacing: 2px;
}